.card {
    flex: 1 1 144px;
    margin: 10px;
    background-color: #f0f0f0;
    padding: 20px;
}

.card:nth-child(2n + 1) {
    margin-right: 0;
}

/*.card:nth-child(3n) {*/
/*    margin-right: 0;*/
/*}*/
